.dock {
  .github {
    background: linear-gradient(180deg, #464545 0%, #1a1a1a 100%);
  }
  .note {
    background: linear-gradient(180deg, #ffd026 0%, #ff9500 100%);
  }
  .pdf {
    background: linear-gradient(180deg, #ff453a 0%, #d71920 100%);
  }
  .mail {
    background: linear-gradient(180deg, #54c5f8 0%, #007aff 100%);
  }
  .spotify {
    background: linear-gradient(to bottom, #2bdf6a, #129941);
  }
  .cli {
    background: linear-gradient(180deg, #3a1c4d 0%, #1a0b2e 100%);
  }
  .calender {
    background: linear-gradient(180deg, #a855f7 0%, #6b21a8 100%);
  }
  .link {
    background: linear-gradient(180deg, #34aadc 0%, #007aff 100%);
  }

  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  gap: 1.1rem;              
  transform: translateX(-50%);
  background-color: rgba(63, 63, 63, 0.329);
  padding-inline: 1.1rem;
  padding-block: 0.6rem;
  border-radius: 1rem;
  backdrop-filter: blur(6px);

  .icon {
    padding: 0.6rem;
    border-radius: 0.5rem;
    width: 2.25rem;            
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
    }
  }

  .icon:hover {
    transform: scale(1.5) translateY(-30%);
    z-index: 2;
  }

  .icon:has(+ .icon:hover),
  .icon:hover + .icon {
    transform: scale(1.25) translateY(-15%);
  }

  .icon:has(+ * + .icon:hover),
  .icon:hover + .icon + .icon {
    transform: scale(1.1) translateY(-8%);
  }
}